body {
    font-family: "Fira Code"
  }
  
  
  #Hero-Section {
    background-image: url("../img/pexels-photo-986774.jpeg");
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
    font-size:small;
    text-align: end;
    font-weight: 400;
  }

  #formation {
    display: flex;
    flex-direction: column;
    justify-content: start;
font-size: 13px;
  }
  
  
  #work .image-top {
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

.info {
  font-style: italic;
  font-size: medium;
  padding-bottom: 5%;
  text-align: left;

}


.experience {
  padding-bottom: 5%;
}


.education {

  padding-bottom: 5%;


  }


.skills {
  padding-bottom: 5%;


}

.languages {
width: fit-content;
  }

  
  @media (max-width: 768px) {
    #Contacto form label {
      font-weight: 400;
    }
  
    .navbar-brand{
      width: 100px;
    }
  
  }
  
  footer {
  
    font-size: 10px;
  }
  